@import "../../variables";

.Cell {
  display: block;
  float: left;
  position: relative;

  &__item {
    height: $unit-h;
    width: $unit-w;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    line-height: 1;
    font-size: 0.85rem
  }
  &__item--active {
    background-color: black;

    &::after {
      content: '​‌…';
      color: #f06;
    }
  }
  &__item--passive {
    background-color: gray;
    &::after {
      content: '​‌(';
      color: #fff;
    }
  }
}
