@import "../../variables";

.Cell {
  $scaler: 2;

  display: block;
  float: left;
  position: relative;

  &__item {
    height: $unit-h;
    width: $unit-w;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    line-height: 1;
    font-size: 0.85rem * $scaler
  }
  &__item--active {
    background-color: lightblue;
    color: #f06;
  }
  &__item--passive {
    background-color: lightblue;
    color: #fff;
  }
}
