@import "../../variables";

@mixin letter-size {
  width: 4 * $unit-w;
  height: 4 * $unit-h;
}


@mixin letter-box {
  position: relative;
  display: inline-block;
  text-align: center;
  color: $color-glyphs;
  background-color: $color-box;
  @include letter-size;

  .shade {
    @include shade;
  }
}

@mixin shade {
  content: "";
  position: absolute;
  top: $unit-h;
  left: $unit-w;
  z-index: -1;
  background-color: $color-shadow;
  @include letter-size;
}

.text {
  display: block;
  top: 0;
  left: 0;
  font-weight: 900;
  margin-bottom: 2rem;
  float: left;

}


.letter {
  font-size: 3rem;
  line-height: 1.25;
  @include letter-box;

  &:global(.empty) {
    visibility: hidden;
  }
}
.wrapper {
  line-height: 0;
}

.fakemarkdown {

  @include letter-box;
  line-height: 1.25;

  width: 6 * $letter-w;
  font-size: 1rem;
  text-align: left;

  .shade {
    @include shade;
  }

  &__emphasis {
    color: white;
  }

  &:global(.empty) {
    visibility: hidden;
  }
}


:global(.print) .letter,
:global(.print) .fakemarkdown {
}

:global(.print) .fakemarkdown {
  background-color: white;
  &__emphasis {
    color: $color-box;
  }
}

:global(.msg-internet) .letter,
:global(.msg-internet) .fakemarkdown {
  color: $msg-bg;
  background-color: $msg-internet-primary;

  &__emphasis {
    color: white;
  }

  a {
    color: $msg-cyber-primary;
    &:hover {
      color: white;
    }
  }
}


:global(.msg-cyber) .letter,
:global(.msg-cyber) .fakemarkdown {
  color: $msg-bg;
  background-color: $msg-cyber-primary;

  &__emphasis {
    color: $msg-internet-primary;
  }

  a {
    color: $msg-classic-primary;
    &:hover {
      color: #3C3B3F;
    }
  }
}


:global(.msg-classic) .letter,
:global(.msg-classic) .fakemarkdown {
  color: $msg-bg;
  background-color: $msg-classic-primary;

  &__emphasis {
    color: $msg-cyber-primary;
  }

  a {
    color: white;
  }
}
