@import "../../variables";

@mixin letter-size {
  width: 4 * $unit-w;
  height: 4 * $unit-h;
}


@mixin letter-box {
  position: relative;
  display: inline-block;
  text-align: center;
  color: $color-glyphs;
  background-color: $color-box;
   @include letter-size;

  .shade {
    @include shade;
  }
}

@mixin shade {
  content: "";
  position: absolute;
  top: $unit-h;
  left: $unit-w;
  z-index: -1;
  background-color: $color-shadow;
  @include letter-size;
}

.text {
  display: block;
  top: 0;
  left: 0;
  font-weight: 900;
  margin-bottom: 2rem;
}

.letter {
  font-size: 3rem;
  @include letter-box;
}

.fakemarkdown {

   @include letter-box;

  width: 6 * $letter-w;
  font-size: 1rem;
  text-align: left;

  .shade {
    @include shade;
  }

  &__emphasis {
    color: white;
  }
}


:global(.print) .letter,
:global(.print) .fakemarkdown {
}

:global(.print) .fakemarkdown {
  background-color: white;
  &__emphasis {
    color: $color-box;
  }
}
