@import "../../variables";

.MainPage {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: #333;
  position: absolute;
  overflow: scroll;
}
:global(.print).app {
  background-color: white;
}

:global(.msg-classic).app,
:global(.msg-cyber).app,
:global(.msg-internet).app {
  background-color: $msg-bg;
}

.visual {
  position: relative;
}
