.ui {

  position: fixed;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 1em;
  width: 20rem;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  transition: all 500ms ease-out;

  textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
  }
}

@media print {
  .ui {
    display: none;
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

.hidden {
  transform: translateX(100%);
  box-shadow: 0 0 20px rgba(0,0,0,0);
}

.value {
  width: 100%;
  padding-top: 1rem;
}

.value__caption {
  font-weight: 900;
  padding-bottom: 0.3rem;
}

.value__valuerange {
  font-size: 0.7rem;
  font-weight: 200;
}

.value__button {
  background-color: gray;
  font-size: 0.9rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.value__input {
  width: 100%;
  font-size: 1rem;
  background-color: darken(white, 10%);
  box-sizing: border-box;
}
