.uiToggle {
  display: block;
  position: fixed;

  top: 0.5em;
  right: 0.5em;
  width: 2rem;
  height: 2rem;
  z-index: 30;

  font-family: "Apple Symbols";
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;

  border: none;
  border-radius: 50%;
  background-color: lightgrey;

  &:hover {
    opacity: 0.5;
  }
}

@media print {
  .uiToggle {
    display: none;
  }
}
