html {
  padding: 1rem;
  font-size: 25px;
}
body {
  padding: 0;
}
.wrapper {
  position: relative;
  padding-bottom: 15rem;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  display: block;
  clear: both;
}
.cell {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1;
  font-family: 'Source Code Pro', monospace;
}

.container.a { color: #f06 }
.container.a .cell--true {  background-color: #fff; }
.container.a .cell--false { background-color: transparent; }
.container.a .cell--true::after {
  content: '​‌…';
  color: currentColor;
}

.container.b .cell--true {  background-color: #fff; }
.container.b .cell--false { background-color: transparent; }
.container.b .cell--true::after {
  content: '​‌(';
  color: currentColor;
}



.container.b .letter {
  background-color: #000;
  color: #fff;
}
.container.b .letter.cell--true::after {
  content: '';
  background-color: white;
  color: black;
}

.controls {
  display: block;
  margin-top: 2rem;
  width: 100%;
}

.controls * {
  display: block;

  margin: 1rem;
  margin-left: 0rem;
  padding: 0;

  height: 1rem;
  width: 6rem;

  border: 0;
  color: #f06;
  background-color: #eee;

  font-size: 1rem;
  line-height: 1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
input.rule::-webkit-input-placeholder {
   color: #f06;
   font-size: 1rem;
   line-height: 1;
   font-family: 'Source Code Pro', monospace;
   text-align: center;

}
button.recalc {

}
