html {
  padding: 1rem;
  font-size: 25px;
}
body {
  padding: 0;
}
.row {
  display: block;
  clear: both;
}
.cell {
  display: block;
  float: left;
  margin: 0;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1;
  font-family: 'Source Code Pro', monospace;
}
.cell--true { background-color: #f06; }
.cell--true:after {
  content: '1';
  color: #eee;
}
.cell--false { background-color: #eee; }
.cell--false:after {
  content: '0';
  color: #f06;
}

.controls {
  display: block;
  margin-top: 2rem;
  width: 100%;
}

.controls * {
  display: block;

  margin: 1rem;
  margin-left: 0rem;
  padding: 0;

  height: 1rem;
  width: 6rem;

  border: 0;
  color: #f06;
  background-color: #eee;

  font-size: 1rem;
  line-height: 1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
input.rule::-webkit-input-placeholder {
   color: #f06;
   font-size: 1rem;
   line-height: 1;
   font-family: 'Source Code Pro', monospace;
   text-align: center;

}
button.recalc {

}
