// This is the top-level scss file
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  min-height: 100%;
  width: 100%;

}
body, #react-root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
}
