@import "../../variables";

.cell {
  display: block;
  float: left;
  position: relative;

  &__item {
    height: $unit-h;
    width: $unit-w;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    line-height: 1;
    font-size: 0.85rem;
  }
  &__item--active {
    color: $color-true;
  }
  &__item--passive {
    color: $color-false;
  }

}

:global(.print) .cell__item--passive {
  color: black;
}


:global(.msg-internet) .cell__item--active {
  color: $msg-internet-primary;
}
:global(.msg-cyber) .cell__item--active {
  color: $msg-cyber-primary;
}
:global(.msg-classic) .cell__item--active {
  color: $msg-classic-primary;
}
:global(.erich-protectionist) .cell__item--active {
  color: $erich-protectionist-primary;
}
